{% extends "blog/base.html" %}


{% block content %}
    {% for resume in resumes %}
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" >{{ resume.company }}</a>
              <small class="text-muted">{{ resume.duration}}</small>
            </div>
            <h2 class="article-title" > {{ resume.role}}</h2>
            <p class="article-content">{{ resume.task }}</p>
          </div>
        </article>
    {% endfor %}
{% endblock content %}

